<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>기가채드 고민 상담소</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <!-- 중앙 상단 이미지 -->

        <div class="blur-wrapper">
            <img id="gigachad-image" src="" alt="기가채드 이미지" class="gigachad-image blur-image">
        </div>
        <div id="response" class="speech-bubble">
            <span class="gigachad-response">{{ response }}</span>
        </div>
        <a href="/" class="submit-button">다시 물어보기</a>
    </div>

    <script>
        const images = [
            "/static/images/gigachad1.webp",
            "/static/images/gigachad2.webp",
            "/static/images/gigachad3.webp",
        ];

        // 랜덤 이미지 선택 및 적용
        const randomImage = images[Math.floor(Math.random() * images.length)];
        document.getElementById("gigachad-image").src = randomImage;

        // 이전 페이지로 리다이렉트
        window.onload = function () {
            // 현재 새로고침인지 확인
            if (performance.navigation.type === performance.navigation.TYPE_RELOAD) {
                // 이전 페이지가 존재하면 리다이렉트
                if (document.referrer) {
                    window.location.href = document.referrer;
                } else {
                    // 이전 페이지가 없는 경우 기본 URL로 이동
                    window.location.href = "/";
                }
            }
        };
        
    </script>
</body>
</html>